
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
node_modules
.idea/
.settings/
dist
.tmp
.sass-cache
*DS_Store*
*.swo
*.swp
package-lock.json
cypress/screenshots/
cypress/videos/
cypress/reports/
cypress/screenshots
cypress/videos
cypress/reports
*.js.mp4
*.mp4
